* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: antiquewhite;
}

body {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 50px;
  margin: 30px;
}

h2 {
  margin-bottom: 20px;
  text-align: left;
}

p {
  margin-bottom: 15px;
}

img {
  height: 100%;
  width: 100%;
}

div {
  text-align: justify;
  border: 2px solid burlywood;
  margin: 10px;
  padding: 10px;
}

#introPic {
  display: block;
  padding: 15px;
  /* float: left; */
}

#bio {
  display: block;
  text-align: left;
  /* justify-content:left; */
  /* float: left; */
}
#bio > li {
  list-style-type: none;
  padding: 2px;
}

#pro {
  width: auto;
}

#top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#achievements {
  list-style-type: none;
  padding: 2px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: red;
}

a:visited {
  color: purple;
}


@media (max-width: 375px) {
  html {
    background-color: #E5E5E5;
  }
}

@media (max-width: 375px) {
  img {
    display: none;
  }
}
